In [1]:
import pandas as pd
import numpy as np

In [2]:
sf_data = pd.read_csv("/scratch/public/kushk/sf_with_homeloc.csv")
sf_data = sf_data[~sf_data["home_tract"].isna()]
sf_data = sf_data[~sf_data["tract"].isna()]
sf_data = sf_data[["date", "tract" , "home_tract"]]

In [3]:
len(sf_data)

47653523

In [4]:
nn_data = pd.read_csv("/scratch/public/kushk/neighbor_new.csv")

In [5]:
nn_data.head()

   OBJECTID   SRC_GEOID   NBR_GEOID       LENGTH  NODE_COUNT
0         1  6001400100  6001404300    11.573519           0
1         2  6001400100  6001404400  4424.829004           0
2         3  6001400100  6001421600   477.810686           0
3         4  6001400100  6001422600  1282.939498           0
4         5  6001400100  6001422700   553.272576           0

In [6]:
sf_data.head()

                   date         tract    home_tract
0  2012-07-26T00:49:46Z  6.081613e+09  6.085509e+09
1  2012-07-26T00:50:45Z  6.067008e+09  6.067008e+09
2  2012-07-26T00:50:50Z  6.095253e+09  6.095253e+09
3  2012-07-26T00:50:56Z  6.081601e+09  6.081603e+09
4  2012-07-26T00:50:58Z  6.085501e+09  6.085501e+09

In [7]:
neighbors = {}
for src,dest in zip(nn_data["SRC_GEOID"] , nn_data["NBR_GEOID"]):
    if src not in neighbors:
        neighbors[src] = set()
    neighbors[src].add(dest)

In [8]:
def processNeighbors(row):
    tract = int(row["tract"])
    home_tract = int(row["home_tract"])
    if(tract == home_tract):
        return "home"
    elif(home_tract in neighbors and tract in neighbors[home_tract]):
        return "neighbor"
    elif(home_tract in neighbors):
        return "non-neighbor"
    else:
        return "not in set?"

In [9]:
%%time
sf_data["locality"] = sf_data.apply(processNeighbors, axis=1)
sf_data["locality"].value_counts()

CPU times: user 40min 37s, sys: 18.9 s, total: 40min 56s
Wall time: 40min 57s

In [10]:
sf_data = sf_data[sf_data["locality"] !=  "not in set?"]

In [11]:
sf_data["locality"].value_counts()

home            28990907
non-neighbor    13295929
neighbor         3389213
Name: locality, dtype: int64

In [12]:
sf_data.head()

                   date         tract    home_tract      locality
0  2012-07-26T00:49:46Z  6.081613e+09  6.085509e+09  non-neighbor
1  2012-07-26T00:50:45Z  6.067008e+09  6.067008e+09          home
2  2012-07-26T00:50:50Z  6.095253e+09  6.095253e+09          home
3  2012-07-26T00:50:56Z  6.081601e+09  6.081603e+09  non-neighbor
4  2012-07-26T00:50:58Z  6.085501e+09  6.085501e+09          home

In [13]:
overall = sf_data.groupby(["home_tract" , "locality" ]).size().reset_index().rename(columns={0:'count'})

In [14]:
sf_data['hour'] = sf_data['date'].str[11:13]
dayvalues = ['04', '05', '06', '07', '08', '09', '10', '11', '12', '13','14', '15', '16', '17', '18']
sf_data['day'] = sf_data.hour.map(lambda x: 1 if x in dayvalues else 0)

In [15]:
dayNight = sf_data.groupby(["home_tract" , "locality", "day"]).size().reset_index().rename(columns={0:'count'})
dayNight.head()

     home_tract      locality  day  count
0  6.001400e+09          home    0    719
1  6.001400e+09          home    1    753
2  6.001400e+09      neighbor    0    202
3  6.001400e+09      neighbor    1    116
4  6.001400e+09  non-neighbor    0   1060

In [16]:
sf_data['date_helper'] = sf_data['date'].str[0:10]
sf_data['weekday'] = sf_data.date_helper.map(lambda x: 0 if pd.to_datetime(x).weekday() > 4 else 1)

In [17]:
weekDay = sf_data.groupby(["home_tract" , "locality", "weekday"]).size().reset_index().rename(columns={0:'count'})
weekDay.head()

     home_tract      locality  weekday  count
0  6.001400e+09          home        0    378
1  6.001400e+09          home        1   1094
2  6.001400e+09      neighbor        0     71
3  6.001400e+09      neighbor        1    247
4  6.001400e+09  non-neighbor        0    586

In [18]:
tracts = list(neighbors.keys())

#sf_data.

In [19]:
%%time
counts = [[] , [] , []]
dayCounts = [[[], []] , [[],[]] , [[],[]]]
weekDayCounts = [[[], []] , [[],[]] , [[],[]]]
locs = ["home" , "neighbor" , "non-neighbor"]


for tract in tracts:
    one_tract = overall[overall["home_tract"] == tract]
    i=0
    for loc in locs:
        one_loc = one_tract[one_tract["locality"] == loc]
        if(len(one_loc) > 0):
            counts[i].append(one_loc["count"].iloc[0])
        else:
            counts[i].append(0)
        i+=1
        
for tract in tracts:
    one_tract = dayNight[dayNight["home_tract"] == tract]
    i=0
    for loc in locs:
        one_loc = one_tract[one_tract["locality"] == loc]
        for val in [0,1]:
            one_val = one_loc[one_loc["day"] == val]
            if(len(one_val) > 0):
                dayCounts[i][val].append(one_val["count"].iloc[0])
            else:
                dayCounts[i][val].append(0)
        i+=1
                         
for tract in tracts:
    one_tract = weekDay[weekDay["home_tract"] == tract]
    i=0
    for loc in locs:
        one_loc = one_tract[one_tract["locality"] == loc]
        for val in [0,1]:
            one_val = one_loc[one_loc["weekday"] == val]
            if(len(one_val) > 0):
                weekDayCounts[i][val].append(one_val["count"].iloc[0])
            else:
                weekDayCounts[i][val].append(0)
        i+=1

CPU times: user 49.8 s, sys: 532 ms, total: 50.3 s
Wall time: 50.4 s

In [20]:
sf_final = pd.DataFrame({"tract": pd.Series(tracts)})
i=0
for loc in locs:
    sf_final[loc] = pd.Series(counts[i])
    sf_final[loc + " day"] = pd.Series(dayCounts[i][1])
    sf_final[loc + " night"] = pd.Series(dayCounts[i][0])
    sf_final[loc + " weekday"] = pd.Series(weekDayCounts[i][1])
    sf_final[loc + " weekend"] = pd.Series(weekDayCounts[i][0])
    i+=1

In [21]:
sf_final

,tract,home,home day,home night,home weekday,home weekend,neighbor,neighbor day,neighbor night,neighbor weekday,neighbor weekend,non-neighbor,non-neighbor day,non-neighbor night,non-neighbor weekday,non-neighbor weekend
0,6097152000,7667,3707,3960,5155,2512,1097,438,659,747,350,13026,6183,6843,8745,4281
1,6067003400,3931,2419,1512,3011,920,292,165,127,187,105,1925,893,1032,1326,599
2,6067007501,31714,21086,10628,23011,8703,2097,1046,1051,1545,552,7637,3731,3906,5213,2424
3,6067007503,6972,4245,2727,4993,1979,880,495,385,614,266,3036,1658,1378,2193,843
4,6067007504,2700,1478,1222,2141,559,427,186,241,332,95,3468,1497,1971,2317,1151
5,6013354001,1065,532,533,810,255,103,27,76,69,34,567,206,361,374,193
6,6013354002,5051,3015,2036,3649,1402,375,140,235,260,115,1614,768,846,1046,568
7,6067009317,18637,11765,6872,13492,5145,1783,846,937,1276,507,7668,3563,4105,5059,2609
8,6085508204,2963,1778,1185,2102,861,359,178,181,265,94,2377,931,1446,1705,672
9,6075011100,11683,6975,4708,8396,3287,2605,1388,1217,1853,752,11465,4468,6997,7526,3939
10,6075015200,3857,2140,1717,2611,1246,1246,710,536,729,517,7042,2886,4156,4446,2596
11,6041129000,2526,1614,912,1657,869,915,388,527,582,333,1385,593,792,1015,370
12,6087110700,9665,5912,3753,6758,2907,1439,711,728,1206,233,3369,1737,1632,2578,791
13,6001406000,4524,2771,1753,3064,1460,1256,584,672,845,411,6644,2556,4088,4394,2250
14,6001410100,12986,7699,5287,9914,3072,494,262,232,386,108,5418,2583,2835,3674,1744
15,6001400500,4705,2813,1892,3162,1543,505,221,284,329,176,4644,1852,2792,3345,1299
16,6001427900,6784,4397,2387,5070,1714,1059,485,574,787,272,4819,2184,2635,3450,1369
17,6001422400,12362,7200,5162,9281,3081,3389,1371,2018,2641,748,8843,3630,5213,6456,2387
18,6075010400,3632,2109,1523,2584,1048,1320,583,737,923,397,4877,1993,2884,3336,1541
19,6081601603,11347,6927,4420,8220,3127,1831,860,971,1268,563,5295,2280,3015,3599,1696
20,6081601604,7751,4793,2958,5889,1862,1271,705,566,897,374,7294,3029,4265,4984,2310
21,6081601605,14661,8196,6465,10136,4525,1410,518,892,1044,366,7901,3706,4195,5101,2800
22,6001430600,30743,19448,11295,22566,8177,4745,2286,2459,3530,1215,13894,6910,6984,9771,4123
23,6095250103,14414,9199,5215,10459,3955,1780,907,873,1239,541,6133,2417,3716,4470,1663
24,6081613900,5088,2417,2671,3267,1821,794,307,487,486,308,6878,1973,4905,4550,2328
25,6013313101,48635,27903,20732,34234,14401,4017,2106,1911,3438,579,22276,9574,12702,14845,7431
26,6013313102,18095,11453,6642,13582,4513,685,350,335,497,188,4409,1707,2702,3071,1338
27,6013313103,33152,20167,12985,24014,9138,3272,1610,1662,2457,815,10910,4680,6230,7368,3542
28,6013334200,7233,4049,3184,5546,1687,1133,467,666,884,249,4871,2259,2612,3257,1614
29,6085509202,4054,2325,1729,2868,1186,612,226,386,429,183,3773,1524,2249,2564,1209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,6067007429,9697,6225,3472,7233,2464,1095,502,593,800,295,4339,1962,2377,2989,1350
1969,6067007430,34614,19687,14927,25117,9497,3872,2316,1556,3042,830,14240,5974,8266,9798,4442
1970,6067007431,21296,14312,6984,15568,5728,2963,1831,1132,2009,954,6196,3122,3074,4530,1666
1971,6067007432,31286,17717,13569,23535,7751,3586,1792,1794,2743,843,10414,4634,5780,7405,3009
1972,6067007433,41341,23278,18063,29497,11844,9650,6117,3533,6138,3512,13648,6294,7354,9814,3834
1973,6001405901,6819,4657,2162,4853,1966,687,383,304,508,179,2983,1540,1443,2209,774
1974,6001405902,6428,4053,2375,4706,1722,435,224,211,304,131,4012,2219,1793,2974,1038
1975,6001410000,7175,4525,2650,4891,2284,410,198,212,309,101,6686,3320,3366,4634,2052
1976,6075016300,17017,9935,7082,11912,5105,2670,1169,1501,1778,892,13366,5490,7876,9282,4084
1977,6085505700,6136,3601,2535,4498,1638,1816,816,1000,1413,403,3826,1662,2164,2572,1254
1978,6001422300,3151,1974,1177,2558,593,2202,998,1204,1751,451,2776,1042,1734,2008,768
1979,6075047901,9481,5750,3731,6629,2852,1208,538,670,826,382,10176,4533,5643,7368,2808
1980,6075047902,7718,3896,3822,5463,2255,664,293,371,490,174,5469,1945,3524,4173,1296
1981,6081605600,3810,1999,1811,2786,1024,571,275,296,423,148,2600,1089,1511,1745,855
1982,6081609700,3167,1865,1302,2092,1075,205,106,99,155,50,2317,946,1371,1410,907
1983,6085500901,36332,20474,15858,27252,9080,10043,5003,5040,7106,2937,33069,13502,19567,22408,10661
1984,6085500902,72895,42602,30293,56295,16600,28989,14363,14626,23621,5368,35546,17135,18411,22884,12662
1985,6081613800,1615,937,678,1150,465,169,54,115,101,68,1865,860,1005,1139,726
1986,6085505001,26372,15138,11234,20047,6325,5040,2732,2308,3726,1314,29127,15074,14053,19090,10037
1987,6081610000,6435,3863,2572,4371,2064,1046,499,547,749,297,5327,2298,3029,3657,1670
1988,6085505007,14773,9090,5683,11312,3461,1752,743,1009,1378,374,5678,2388,3290,3867,1811
1989,6001442800,2402,1190,1212,1761,641,270,91,179,184,86,1586,678,908,1015,571
1990,6085505009,16653,10459,6194,12532,4121,1490,722,768,1040,450,7976,3725,4251,5394,2582
1991,6085509106,1776,922,854,1444,332,99,39,60,83,16,1828,762,1066,1079,749
1992,6085509107,8081,4878,3203,5527,2554,562,293,269,391,171,5048,2353,2695,3049,1999
1993,6085509108,6146,3657,2489,4964,1182,567,285,282,454,113,6520,2643,3877,4185,2335
1994,6085509109,3606,2193,1413,2673,933,728,223,505,505,223,4649,1791,2858,2960,1689
1995,6001423700,7547,4171,3376,5465,2082,2284,1008,1276,1607,677,6601,2500,4101,4636,1965
1996,6095253500,10811,5724,5087,8018,2793,557,268,289,420,137,1813,630,1183,1030,783
1997,6113010512,4660,2509,2151,2895,1765,1880,696,1184,1505,375,2743,1138,1605,1908,835

In [22]:
sf_final.to_csv("Absolute_new_1013.csv")

In [26]:
sum(sf_final["home"]) + sum(sf_final["non-neighbor"])

29299787